{% extends 'layouts/base.html' %}
{% block content %}

<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, nihil modi earum fuga, aliquam consectetur ipsum illum id nemo deleniti quae quas! Nam pariatur ratione rerum reprehenderit aspernatur libero, error beatae molestiae officia quidem nisi temporibus cum dolor esse, sit consequatur necessitatibus aut? Animi exercitationem esse rem soluta tempora placeat dolorum distinctio facilis cumque? Omnis delectus quos repellendus asperiores architecto, aspernatur, non odit minus, numquam ut facilis placeat dolorum repellat cumque doloribus tempora nostrum. Incidunt velit accusantium impedit perferendis ipsam repellendus perspiciatis eius, placeat expedita reprehenderit officia culpa, inventore, quia dolore facilis. Blanditiis, dolor repudiandae sunt eligendi culpa repellendus molestiae?</p>

<p>Website created by {{username}}</p>

{% endblock %}